<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- load parameter -->
  <xacro:property name="vehicle_info" value="${xacro.load_yaml('$(find carla_t2_vehicle_description)/config/vehicle_info.param.yaml')}"/>

  <!-- vehicle body -->
  <link name="base_link">
    <visual>
      <origin xyz="1.2992 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://carla_t2_vehicle_description/mesh/carla_t2_ftm.dae" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>
</robot>
